{% extends 'base.html.twig' %}

{% block title %}
	Acceuil
{% endblock %}


{% block body %}

	<!--Acceuil-->
	
	<div class="acceuil " id="home">
		<h1>salon de coiffure</h1>
		<h2>Hair Beauty Concept</h2>
	</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, repellat?</p>
{% endblock %}

{% block javascripts %}
	{{ parent() }}


	<script src="{{ asset ('/js/app.js') }}" defer></script>
{% endblock %}
